# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfplan
*.tfplan.json
.terraform.lock.hcl

*.tfvars
*.tfvars.json

.env
.env.*
*.pem
*.key

.aws/
credentials

# OS files
.DS_Store
Thumbs.db

.vscode/
.idea/

# Logs
*.log